
@{
    ViewData["Title"] = "DevDashboard";
}

<div class="text-center">
    <h1>Dev Dashboard</h1>

    <h4>Notifications! <a asp-action="DeveloperNotifications">@ViewBag.Notifications</a></h4>

    <a asp-action="DeveloperTasks">View your Tasks</a>

    <br />

    <a asp-action="DeveloperNotifications">View your Notifications</a>
</div>
